<?xml version="1.0"?>

<robot name="alma" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="collision_leg" params="leg">
    <xacro:if value="${leg=='LF'}">
      <xacro:property name="mirror_y" value="1"/>
      <xacro:property name="mirror_x" value="1"/>
    </xacro:if>
    <xacro:if value="${leg=='RF'}">
      <xacro:property name="mirror_y" value="-1"/>
      <xacro:property name="mirror_x" value="1"/>
    </xacro:if>
    <xacro:if value="${leg=='LH'}">
      <xacro:property name="mirror_y" value="1"/>
      <xacro:property name="mirror_x" value="-1"/>
    </xacro:if>
    <xacro:if value="${leg=='RH'}">
      <xacro:property name="mirror_y" value="-1"/>
      <xacro:property name="mirror_x" value="-1"/>
    </xacro:if>

    <link name="collision_${leg}_thigh">
      <collision>
        <origin xyz="${mirror_x*0} ${mirror_y*0.02} -0.14" rpy="0 0 0"/>
        <geometry>
          <box size="0.15 0.12 0.45"/>
        </geometry>
      </collision>
    </link>
    <joint name="collision_${leg}_thigh_joint" type="fixed">
       <parent link="${leg}_thigh_fixed"/>
       <child link="collision_${leg}_thigh"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    
    <link name="collision_${leg}_shank">
      <collision>
        <origin xyz="${mirror_x*0.04} ${mirror_y*0.01} -0.14" rpy="0 0 0"/>
        <geometry>
          <box size="0.21 0.08 0.42"/>
        </geometry>
      </collision>
    </link>
    <joint name="collision_${leg}_shank_joint" type="fixed">
       <parent link="${leg}_shank_fixed"/>
       <child link="collision_${leg}_shank"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="collision_base">
    <link name="collision_base">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.9 0.34 0.2"/>
        </geometry>
      </collision>
    </link>
    <joint name="collision_base_joint" type="fixed">
       <parent link="base"/>
       <child link="collision_base"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="collision_lidar">
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.02"/>
        <geometry>
           <cylinder length="0.14" radius="0.09"/>
        </geometry>
      </collision>
    </link>
    <joint name="collision_lidar_joint" type="fixed">
       <parent link="lidar"/>
       <child link="collision_lidar"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="almaollision_extras" params="legs base">
    <xacro:if value="${base}">
      <xacro:collision_base/>
    </xacro:if>
    <xacro:if value="${legs}">
      <xacro:collision_leg leg="LF"/>
      <xacro:collision_leg leg="RF"/>
      <xacro:collision_leg leg="LH"/>
      <xacro:collision_leg leg="RH"/>
    </xacro:if>

  </xacro:macro>

</robot>
