<robot name="dynaarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="nbr_of_dof"                        default="6" />     <!-- v1 -> ballbot dynaarm, v2 ballbot dynaarm with festo design covers, v3 new dynaarm -->
    <xacro:arg name="forearm_configuration"             default="0" />
    <xacro:arg name="use_longer_4tube_forearm"          default="true" />
    <xacro:arg name="use_realsense_forearm"             default="false" />
    <xacro:arg name="use_realsense_wrist"               default="false" />
    <xacro:arg name="use_realsense_base"                default="false" />
    <xacro:arg name="use_realsense_elbow"               default="false" />
    <xacro:arg name="realsense_mount_angle_pos"         default="0" /> <!-- 0 is 0 deg, 1 is 15  deg, 2 is 17.5 deg and 3 is 20 deg -->
    <xacro:arg name="use_realsense_fts"                 default="false" />    
    <xacro:arg name="use_mira"                          default="false" />
    <xacro:arg name="use_ftSensor"                      default="false" />
    <xacro:arg name="simulation"                        default="false" />
    <xacro:arg name="gripper"                           default="" />
    <xacro:arg name="realsense_type"                    default="d435" />
    <xacro:arg name="use_mocap_base"                    default="false" />
    <xacro:arg name="use_mocap_elbow"                   default="false" />
    <xacro:arg name="wrist_version"                     default="dynadrive" />    <!-- dynadrive or dynamixel -->
    <xacro:arg name="reduced_gripper_collision_body"    default="true" />    <!-- Shorter or longer gripper collsion body (including the fingers or not) -->
    <xacro:arg name="fix_arm_joints"                    default="false" />

    <xacro:property name="forearm_configuration_property"           value="$(arg forearm_configuration)"/>
    <xacro:property name="use_longer_4tube_forearm_property"        value="$(arg use_longer_4tube_forearm)"/>
    <xacro:property name="gripper_property"                         value="$(arg gripper)"/>
    <xacro:property name="use_realsense_forearm_property"           value="$(arg use_realsense_forearm)"/>
    <xacro:property name="use_realsense_wrist_property"             value="$(arg use_realsense_wrist)"/>
    <xacro:property name="use_realsense_base_property"              value="$(arg use_realsense_base)"/>
    <xacro:property name="use_realsense_elbow_property"             value="$(arg use_realsense_elbow)"/>
    <xacro:property name="realsense_mount_angle_property"           value="$(arg realsense_mount_angle_pos)"/>
    <xacro:property name="use_realsense_fts_property"               value="$(arg use_realsense_fts)"/>
    <xacro:property name="use_mira_property"                        value="$(arg use_mira)"/>
    <xacro:property name="nbr_of_dof_property"                      value="$(arg nbr_of_dof)"/>
    <xacro:property name="use_ftSensor_property"                    value="$(arg use_ftSensor)"/>
    <xacro:property name="realsense_type_property"                  value="$(arg realsense_type)"/>
    <xacro:property name="use_mocap_base_property"                  value="$(arg use_mocap_base)"/>
    <xacro:property name="use_mocap_elbow_property"                 value="$(arg use_mocap_elbow)"/>
    <xacro:property name="wrist_version_property"                   value="$(arg wrist_version)"/>
    <xacro:property name="simulation_property"                      value="$(arg simulation)"/>
    <xacro:property name="reduced_gripper_collision_body_property"  value="$(arg reduced_gripper_collision_body)"/>
    <xacro:property name="fix_arm_joints_property"                  value="$(arg fix_arm_joints)"/>

    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_armConfigs.urdf.xacro" />

    <!-- load controller -->
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libdynaarm_gazebo.so">
        <robotNamespace>dynaarm</robotNamespace>
        <robotDescription>dynaarm_description</robotDescription>
        <robotBaseLink>dynaarm_base</robotBaseLink>
        <statePublisherRate>400.0</statePublisherRate>
      </plugin>
    </gazebo>

    <!-- create world link and link it to the dynaarm base -->
    <link name="world"></link>
    <!-- load arm configuration -->
    <xacro:dynaarm parent_link="world" joint_origin="0 0 0"/>


</robot>
