<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="dynaarm_forearm" params="">
<!-- forearm configuration = -1 -> no forearm -->
    <xacro:unless value="${forearm_configuration_property + 1}">
        <xacro:virtual_link link_name="${link04}" />
        <xacro:dynaarm_endeffector_frame endeffector_origin_xyz="${joint_ee_origin_xyz}" endeffector_origin_rpy="${joint_ee_origin_rpy}" parent="${link04}"/>
    </xacro:unless>

<!-- forearm configuration = 0 -> Final forearm to be used as default. Forearm with 4 carbon tubes. Can be used with realsense, robotiq, dynawrist -->
    <xacro:unless value="${forearm_configuration_property - 0}">

        <!--Add 4 tube forearm-->
        <xacro:if value="${use_longer_4tube_forearm_property}">
            <xacro:dynaarm_link link_name="${link04}" file_name="${link04_4tube_longer_mesh}" link_nbr="${link04_4tube_nbr}" />
        </xacro:if>
        <xacro:unless value="${use_longer_4tube_forearm_property}">
            <xacro:dynaarm_link link_name="${link04}" file_name="${link04_4tube_mesh}" link_nbr="${link04_4tube_nbr}" />
        </xacro:unless>        

        <!--Add End effector-->
        <xacro:unless value="${nbr_of_dof_property - 4}">
            <xacro:dynaarm_endeffector parent_link="${link04}" gripper_base_origin_xyz="0.0 0.0 0.27" gripper_base_origin_rpy="0 0 0" gripper_yaw="${0}"/>
        </xacro:unless>

        <!--Add Realsense-->

        <xacro:if value="${use_realsense_elbow_property}">
            <xacro:dynaarm_link link_name="${link04}_realsense_bracelet" file_name="${link04_elbow_realsense_bracelet_mesh}" link_nbr="${link04_elbow_realsense_nbr}" scale_value="0.001"/>

            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_realsense_bracelet"
                         parent="${link03}" child="${link04}_realsense_bracelet"
                         joint_origin_xyz=" -0.0026 -0.092 -0.0" joint_origin_rpy="0 ${J_PI/2} ${J_PI} " />
            <xacro:dynaarm_link link_name="${link04}_realsense_mount" file_name="${link04_elbow_realsense_mount_mesh}" link_nbr="${link04_elbow_realsense_nbr}" scale_value="0.001"/>

           <!--Different angles for elbow Realsense-->
           <!-- 0 deg -->
            <xacro:unless value="${realsense_mount_angle_property}">
                <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_realsense_mount"
                         parent="${link04}_realsense_bracelet" child="${link04}_realsense_mount"
                         joint_origin_xyz="0.0 0.0624 -0.0145" joint_origin_rpy="0 -${J_PI/2} 0" />
            </xacro:unless>

            <!-- 15 deg -->
            <xacro:unless value="${realsense_mount_angle_property - 1}">
                <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_realsense_mount"
                         parent="${link04}_realsense_bracelet" child="${link04}_realsense_mount"
                         joint_origin_xyz="0.0 0.0624 -0.0145" joint_origin_rpy="${J_PI/2} 4.974 -${J_PI/2}" />
            </xacro:unless>

            <!-- 17.5 deg -->
            <xacro:unless value="${realsense_mount_angle_property - 2}">
                    <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_realsense_mount"
                         parent="${link04}_realsense_bracelet" child="${link04}_realsense_mount"
                         joint_origin_xyz="0.0 0.0624 -0.0145" joint_origin_rpy="${J_PI/2} 5.0178 -${J_PI/2}" />
            </xacro:unless>

            <!-- 20 deg -->
            <xacro:unless value="${realsense_mount_angle_property - 3}">
                    <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_realsense_mount"
                         parent="${link04}_realsense_bracelet" child="${link04}_realsense_mount"
                         joint_origin_xyz="0.0 0.0624 -0.0145" joint_origin_rpy="${J_PI/2} 5.0614 -${J_PI/2}" /> 
            </xacro:unless>

            <xacro:dynaarm_realsense parent="${link04}_realsense_mount" camera_name="${realsense}" simulation_realsense="${simulation_property}" realsense_pos_nbr="6" realsense_type="${realsense_type_property}"/>
        </xacro:if>

        <xacro:if value="${use_realsense_forearm_property}">
            <xacro:dynaarm_link link_name="${link04}_realsense" file_name="${link04_4tube_realsense_mesh}" link_nbr="${link04_4tube_realsense_nbr}" />
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_realsense"
                        parent="${link04}" child="${link04}_realsense"
                        joint_origin_xyz="0.0 -0.02 0.12" joint_origin_rpy="0 0 ${J_PI/2}" />           
            <xacro:dynaarm_realsense parent="${link04}_realsense" camera_name="${realsense}" simulation_realsense="${simulation_property}" realsense_pos_nbr="2" realsense_type="${realsense_type_property}"/>
        </xacro:if>

        <!--Add Mira Device-->
        <xacro:if value="${use_mira_property}">
            <xacro:dynaarm_link link_name="${link04}_mira" file_name="${link04_4tube_mira_mesh}" link_nbr="${link04_4tube_mira_nbr}" />
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_mira"
                        parent="${link04}" child="${link04}_mira"
                        joint_origin_xyz="0.0 0.0 0.05" joint_origin_rpy="${J_PI/2} ${-J_PI/2} 0" />
            <xacro:virtual_link link_name="${link04}_mira_raman" />
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_mira_raman"
            parent="${link04}_mira" child="${link04}_mira_raman"
            joint_origin_xyz="0.2594 -0.0255 -0.0788" joint_origin_rpy="${J_PI} ${-J_PI/2} 0" />
            <link name="${link04}_mira_raman_pointer">
                <visual>
                    <origin xyz="0 0 1.0" rpy="0 0 0"/>
                    <geometry>
                        <cylinder radius="0.001" length="2.0"/>
                    </geometry>
                    <material name="red">
                        <color rgba="1 0 0 0.5"/>
                    </material>
                </visual>
            </link>
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_mira_raman_pointer"
                        parent="${link04}_mira_raman" child="${link04}_mira_raman_pointer"
                        joint_origin_xyz="-0.0 0.0 0.0" joint_origin_rpy="0 0 0" />
            <xacro:virtual_link link_name="${link04}_mira_lidar" />
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_mira_lidar"
            parent="${link04}_mira_raman" child="${link04}_mira_lidar"
            joint_origin_xyz="0.0 -0.043 0.0" joint_origin_rpy="-0.0753 0 0" />
            <link name="${link04}_mira_lidar_pointer">
                <visual>
                    <origin xyz="0 0 1.0" rpy="0 0 0"/>
                    <geometry>
                        <cylinder radius="0.001" length="2.0"/>
                    </geometry>
                    <material name="green">
                        <color rgba="0 1 0 0.5"/>
                    </material>
                </visual>
            </link>
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_mira_lidar_pointer"
                        parent="${link04}_mira_lidar" child="${link04}_mira_lidar_pointer"
                        joint_origin_xyz="0.0 0.0 0.0" joint_origin_rpy="0 0 0" />
        </xacro:if>
    </xacro:unless>

<!-- forearm configuration = 1 -> festo pneumatic hand -->
    <xacro:unless value="${forearm_configuration_property - 1}">
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_festoHand_mesh}" link_nbr="${link04_festoHand_nbr}" />
        <xacro:dynaarm_endeffector_frame endeffector_origin_xyz="${joint_ee_origin_festoHand_xyz}" endeffector_origin_rpy="${joint_ee_origin_rpy}" parent="${link04}"/>
        <xacro:if value="${use_realsense_forearm_property}">
                <xacro:dynaarm_realsense parent="${link04}" camera_name="${realsense}" simulation_realsense="${simulation_property}" realsense_pos_nbr="0" realsense_type="${realsense_type_property}"/>
        </xacro:if>
    </xacro:unless>

<!-- forearm configuration = 40 -> payload adapter forearm. Rectangular shaped lasercut forearm with possibility to attach weights -->
    <xacro:unless value="${forearm_configuration_property - 40}">
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_payloadAdapter_mesh}" link_nbr="${link04_payloadAdapter_nbr}" />
        <xacro:dynaarm_endeffector_frame endeffector_origin_xyz="${joint_ee_origin_payloadAdapter_xyz}" endeffector_origin_rpy="${joint_ee_origin_rpy}" parent="${link04}"/>
    </xacro:unless>

<!-- forearm configuration = 41 -> with circular payload. Roughly 2.5kg extra -->
    <xacro:unless value="${forearm_configuration_property - 41}">
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_payloadAdapter_wPayload_mesh}" link_nbr="${link04_payloadAdapter_wPayload_nbr}" />
        <xacro:dynaarm_endeffector_frame endeffector_origin_xyz="${joint_ee_origin_payloadAdapter_xyz}" endeffector_origin_rpy="${joint_ee_origin_rpy}" parent="${link04}"/>
    </xacro:unless>

<!-- forearm configuration = 42 -> with rectangular payload. Roughly 4kg extra -->
    <xacro:unless value="${forearm_configuration_property - 42}">
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_payloadAdapter_wRectPayload_mesh}" link_nbr="${link04_payloadAdapter_wRectPayload_nbr}" />
        <xacro:dynaarm_endeffector_frame endeffector_origin_xyz="${joint_ee_origin_payloadAdapter_xyz}" endeffector_origin_rpy="${joint_ee_origin_rpy}" parent="${link04}"/>
    </xacro:unless>

<!-- forearm configuration = 43 -> with both payloads. Roughly 6.5 kg extra -->
    <xacro:unless value="${forearm_configuration_property - 43}">
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_payloadAdapter_wFullPayload_mesh}" link_nbr="${link04_payloadAdapter_wFullPayload_nbr}" />
        <xacro:dynaarm_endeffector_frame endeffector_origin_xyz="${joint_ee_origin_payloadAdapter_xyz}" endeffector_origin_rpy="${joint_ee_origin_rpy}" parent="${link04}"/>
    </xacro:unless>

<!-- forearm configuration = 50 -> with drill. Roughly 5.0 kg extra. Needs the end_effector_tools package built -->
    <xacro:unless value="${forearm_configuration_property - 50}">
        <xacro:virtual_link link_name="${link04}" />
        <xacro:include filename="$(find end_effector_tools)/urdf/drill.urdf.xacro" />
        <xacro:drill link_name="drill" ee_link_name="${end_effector}"/>
        <xacro:dynaarm_joint_fixed joint_name="${link04}_drill_joint"
                            parent="${link04}" child="drill"
                            joint_origin_xyz="0 0 0" joint_origin_rpy="0 0 -${J_PI/2.0}" />
    </xacro:unless>


<!-- forearm configuration = 7 -> Lasercut forearm for temporary attachment of the realsense and the robotiq gripper -->
    <xacro:unless value="${forearm_configuration_property - 7}">
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_realsense_testing_noFtSensor_mesh}" link_nbr="${link04_realsense_testing_noFtSensor_nbr}" />
        <xacro:dynaarm_endeffector parent_link="${link04}" gripper_base_origin_xyz="0.0 0.0 0.277" gripper_base_origin_rpy="0 0 0" gripper_yaw="${0}"/>

        <xacro:if value="${use_realsense_forearm_property}">
            <xacro:dynaarm_link link_name="${link04}_slider" file_name="${link04_realsense_testing_slider_mesh}" link_nbr="${link04_realsense_testing_slider_nbr}" />
            <xacro:dynaarm_link link_name="${link04}_realsense_interface" file_name="${link04_realsense_testing_interface_mesh}" link_nbr="${link04_realsense_testing_interface_nbr}" />

            <xacro:dynaarm_joint_fixed joint_name="realsense_testing_slider"
                                parent="${link04}" child="${link04}_slider"
                                joint_origin_xyz="0 0 ${5*0.015}" joint_origin_rpy="${J_PI} ${J_PI} 0" />
            <xacro:dynaarm_joint_fixed joint_name="realsense_testing_realsense_interface"
                                parent="${link04}_slider" child="${link04}_realsense_interface"
                                joint_origin_xyz="0.0 0.0877 0.04255" joint_origin_rpy="0 0 0" />
            <xacro:dynaarm_realsense parent="${link04}_realsense_interface" camera_name="${realsense}" simulation_realsense="${simulation_property}" realsense_pos_nbr="1" realsense_type="${realsense_type_property}"/>
        </xacro:if>
    </xacro:unless>

<!-- joint to like the chosen forearm to the elbow -->
    <xacro:dynaarm_revolute_joint joint_name="${joint_4_name}" parent="${link03}" child="${link04}"
                            joint_axis_xyz="${joint_4_axis_xyz}"
                            joint_origin_xyz="${joint_4_origin_xyz}" joint_origin_rpy="${joint_4_origin_rpy}"
                            joint_lower_limit="${joint_4_lower_limit}" joint_upper_limit="${joint_4_upper_limit}"
                            joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_4_joint_type}"/>
</xacro:macro>

</robot>
