<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_collision.urdf.xacro" />
    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_inertial.urdf.xacro" />
        <xacro:property name="J_PI" value="3.1415926535897931" />

    <xacro:macro name="dynaarm_baselink" params="link_name file_name link_nbr">
        <link name="${link_name}">
                <visual>
                    <geometry>
                            <mesh filename="package://dynaarm_urdf/meshes/${link_nbr}_${file_name}.dae"/>
                    </geometry>
                </visual>
                <xacro:dynaarm_collision link_nbr="${link_nbr}"/>
            </link>

        <!-- Fixed joint to add dummy inertia link -->
        <joint name="${link_name}_to_${link_name}_inertia" type="fixed">
            <parent link="${link_name}"/>
            <child link="${link_name}_inertia"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <!-- Dummy inertia link, because KDL cannot have inertia on the base link -->
        <link name="${link_name}_inertia">
                    <xacro:dynaarm_inertial link_nbr="${link_nbr}" />
        </link>
    </xacro:macro>

	<xacro:macro name="dynaarm_link"
                params="link_name file_name link_nbr scale_value:=1.0">
            <link name="${link_name}">
                <visual>
                        <geometry>
                                <mesh filename="package://dynaarm_urdf/meshes/${link_nbr}_${file_name}.dae" scale="${scale_value} ${scale_value} ${scale_value}"/>
                        </geometry>
                </visual>
                <xacro:dynaarm_collision link_nbr="${link_nbr}"/>
                <xacro:dynaarm_inertial link_nbr="${link_nbr}" />
            </link>
	</xacro:macro>

    <xacro:macro name="virtual_link" params="link_name">
        <link name="${link_name}">
        <!-- used in the elbow joint to attach to the mimic joint and and to the elbow joint -->
            <visual>
                <origin xyz="-0.0005 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size = "0.001 0.001 0.001"/>
                </geometry>
            </visual>
        <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                <xacro:unless value="${simulation_property}">
                    <mass value="1e-6"/>
                    <inertia ixx="1e-6"
                        ixy="0.0" iyy="1e-6"
                        ixz="0.0" iyz="0.0" izz="1e-6"/>
                </xacro:unless>
                <xacro:if value="${simulation_property}">
                    <mass value="0.03"/>
                    <inertia ixx="0.01"
                        ixy="0.0" iyy="0.01"
                        ixz="0.0" iyz="0.0" izz="0.01"/>
                </xacro:if>
            </inertial>
        </link>
        <!-- Gazebo customization -->
        <!-- Contact model -->
        <xacro:property name="kp" value="10000.0"/>
        <xacro:property name="kd" value="10.0"/>
        <xacro:property name="mu" value="0.8"/>
        <gazebo reference="${link_name}">
            <kp>${kp}</kp>
            <kd>${kd}</kd>
            <mu1>${mu}</mu1>
            <mu2>${mu}</mu2>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="dynaarm_revolute_joint"
                params="joint_name parent child joint_axis_xyz joint_origin_xyz joint_origin_rpy joint_lower_limit joint_upper_limit joint_limit_vel joint_limit_effort joint_type">
        <joint name="${joint_name}" type="${joint_type}">
			<parent link="${parent}" />
			<child link="${child}" />
			<axis xyz="${joint_axis_xyz}" />
			<limit effort="${joint_limit_effort}" command_effort="${joint_limit_effort}" current="10" gear_velocity="${joint_limit_vel}" velocity="${joint_limit_vel}"
				lower="${joint_lower_limit}" upper="${joint_upper_limit}" /> <!-- limit effort also defines torque limit and freeze controller gains -->
			<origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}" />
                        <dynamics damping="0.3" friction="0.0" />
		</joint>
	</xacro:macro>

	<xacro:macro name="dynaarm_joint_fixed"
                params="joint_name parent child joint_origin_xyz joint_origin_rpy">
		<joint name="${joint_name}" type="fixed">
			<parent link="${parent}" />
			<child link="${child}" />
			<origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}" />
			<limit effort="2000" velocity="0"
				lower="0" upper="0" /> <!-- limit effort also defines torque limit and freeze controller gains -->
			<dynamics damping="0.0" friction="0.0" />
		</joint>
	</xacro:macro>

    <xacro:macro name="dynaarm_endeffector_frame" params="endeffector_origin_xyz endeffector_origin_rpy parent">
        <!--<link name="${end_effector}"/>-->
        <xacro:virtual_link link_name="${end_effector}" />
        <xacro:dynaarm_joint_fixed joint_name="${joint_ee_name}"
                parent="${parent}" child="${end_effector}"
                joint_origin_xyz="${endeffector_origin_xyz}"
                joint_origin_rpy="${endeffector_origin_rpy}" />
        <!-- Gazebo customization -->
        <!-- Contact model -->
        <xacro:property name="kp" value="10000.0"/>
        <xacro:property name="kd" value="10.0"/>
        <xacro:property name="mu" value="0.8"/>
        <gazebo reference="${end_effector}">
            <kp>${kp}</kp>
            <kd>${kd}</kd>
            <mu1>${mu}</mu1>
            <mu2>${mu}</mu2>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="robotiq_gripper" params="parent prefix origin_rqy">
        <xacro:include filename="$(find robotiq_2f_model)/model/robotiq_2f_85.urdf.xacro"/>
        <xacro:include filename="$(find robotiq_2f_model)/model/robotiq_ur_coupler.urdf.xacro"/>
        <!-- the Coupler is needed-->
        <xacro:robotiq_ur_coupler parent="${parent}" name="robotiq_coupler"/>
        <!-- The name of the controlled joint will be "name"_right_driver_joint-->
        <xacro:robotiq_2f_85 parent="robotiq_coupler"  joint_name="gripper_joint" name="${prefix}"
                                precise_collision="false" adaptive_transmission="false" with_pads="true">
            <origin xyz="0 0 0" rpy="${origin_rqy}"/>
        </xacro:robotiq_2f_85>
    </xacro:macro>

    <xacro:macro name="ez_gripper" params="parent prefix origin_rqy fixed_fingers">
        <xacro:include filename="$(find ezgripper_description)/urdf/ezgripper_dual_gen2_articulated.urdf.xacro"/>
        <xacro:ezgripper_dual prefix="left" parent_link="${parent}" fixed_fingers="${fixed_fingers}">
            <origin rpy="${origin_rqy}" xyz="0 0 0"/>
        </xacro:ezgripper_dual>
    </xacro:macro>

    <xacro:macro name="ability_hand" params="parent origin_rqy origin_xyz">
        <xacro:include filename="$(find psyonic_ability_hand_model)/model/urdf/ability_hand_right.urdf.xacro"/>
        <xacro:psyonic_ability_hand parent="${parent}">
            <origin rpy="${origin_rqy}" xyz="${origin_xyz}"/>
        </xacro:psyonic_ability_hand>
    </xacro:macro>

</robot>
