<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="dynaarm_wrist" params="">
        <xacro:if value="${wrist_version_property == 'dynadrive'}">
            <xacro:dynaarm_link link_name="${link04}_wrist1" file_name="${link04_4tube_wrist1_mesh}" link_nbr="${link04_4tube_wrist1_nbr}" />

            <!-- Change wrist position depending on whether the short or the long 4tube forearm is used-->
            <xacro:if value="${use_longer_4tube_forearm_property}">
                <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_wrist1" parent="${link04}" child="${link04}_wrist1"
                                        joint_origin_xyz="0.0 0.0 0.37" joint_origin_rpy="0 0 0" />
            </xacro:if>
            <xacro:unless value="${use_longer_4tube_forearm_property}">
                <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_wrist1" parent="${link04}" child="${link04}_wrist1"
                                        joint_origin_xyz="0.0 0.0 0.27" joint_origin_rpy="0 0 0" />
            </xacro:unless>   
                
            <xacro:dynaarm_link link_name="${link05}" file_name="${link05_mesh}" link_nbr="${link05_nbr}" />
            <xacro:dynaarm_link link_name="${link06}" file_name="${link06_mesh}" link_nbr="${link06_nbr}" />

            <xacro:dynaarm_revolute_joint joint_name="${joint_5_name}" parent="${link04}_wrist1" child="${link05}"
                                        joint_axis_xyz="${joint_5_axis_xyz}"
                                        joint_origin_xyz="${joint_5_origin_xyz}" joint_origin_rpy="${joint_5_origin_rpy}"
                                        joint_lower_limit="${joint_5_lower_limit}" joint_upper_limit="${joint_5_upper_limit}"
                                        joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_5_joint_type}"/>
            <xacro:dynaarm_revolute_joint joint_name="${joint_6_name}" parent="${link05}" child="${link06}"
                                        joint_axis_xyz="${joint_6_axis_xyz}"
                                        joint_origin_xyz="${joint_6_origin_xyz}" joint_origin_rpy="${joint_6_origin_rpy}"
                                        joint_lower_limit="${joint_6_lower_limit}" joint_upper_limit="${joint_6_upper_limit}"
                                        joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_6_joint_type}"/>

            <xacro:dynaarm_endeffector parent_link="${link06}" gripper_base_origin_xyz="0 0 0" gripper_base_origin_rpy="0 0 ${-J_PI/2}" gripper_yaw="${J_PI/2}" ft_sensor_orientation_z="${ft_sensor_orientation_z}"/>

        </xacro:if>

        <xacro:if value="${wrist_version_property == 'dynamixel'}">
            <xacro:dynaarm_link link_name="${link04}_wrist1" file_name="${link04_4tube_wrist1_dynamixel_mesh}" link_nbr="${link04_4tube_wrist1_dynamixel_nbr}" />
            <xacro:dynaarm_joint_fixed joint_name="${joint_4_name}_wrist1" parent="${link04}" child="${link04}_wrist1"
                                        joint_origin_xyz="0.0 0.0 0.27" joint_origin_rpy="0 0 ${-J_PI/2}" />
            <xacro:dynaarm_link link_name="${link05}" file_name="${link05_dynamixel_mesh}" link_nbr="${link05_dynamixel_nbr}" />
            <xacro:dynaarm_link link_name="${link06}" file_name="${link06_dynamixel_mesh}" link_nbr="${link06_dynamixel_nbr}" />

            <xacro:dynaarm_revolute_joint joint_name="${joint_5_name}" parent="${link04}_wrist1" child="${link05}"
                                        joint_axis_xyz="${joint_5_dynamixel_axis_xyz}"
                                        joint_origin_xyz="${joint_5_dynamixel_origin_xyz}" joint_origin_rpy="${joint_5_dynamixel_origin_rpy}"
                                        joint_lower_limit="${joint_5_dynamixel_lower_limit}" joint_upper_limit="${joint_5_dynamixel_upper_limit}"
                                        joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_5_joint_type}"/>
            <xacro:dynaarm_revolute_joint joint_name="${joint_6_name}" parent="${link05}" child="${link06}"
                                        joint_axis_xyz="${joint_6_dynamixel_axis_xyz}"
                                        joint_origin_xyz="${joint_6_dynamixel_origin_xyz}" joint_origin_rpy="${joint_6_dynamixel_origin_rpy}"
                                        joint_lower_limit="${joint_6_dynamixel_lower_limit}" joint_upper_limit="${joint_6_dynamixel_upper_limit}"
                                        joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_6_joint_type}"/>
            <xacro:dynaarm_endeffector parent_link="${link06}" gripper_base_origin_xyz="${joint_ee_origin_6dof_dynamixel_xyz}" gripper_base_origin_rpy="0 0 ${-J_PI/2}" gripper_yaw="${0}" ft_sensor_orientation_rpy="${ft_sensor_orientation_rpy}"/>
        </xacro:if>

</xacro:macro>

</robot>
