<?xml version="1.0"?>

<robot name="dynaarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_common.urdf.xacro" />
    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_realsense.urdf.xacro" />
    <xacro:if value="${fix_arm_joints_property}">
        <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_parameters_fixedArm.urdf.xacro"/>
    </xacro:if>        
    <xacro:unless value="${fix_arm_joints_property}">
        <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_parameters.urdf.xacro"/>
    </xacro:unless>        
    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_forearm.urdf.xacro"/>
    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_wrist.urdf.xacro"/>
    <xacro:include filename="$(find dynaarm_urdf)/urdf/dynaarm_endeffector.urdf.xacro"/>

    <xacro:macro name="dynaarm_world_base">
        <link name="world"></link>
        <xacro:dynaarm_revolute_joint joint_name="${joint_base_name}" parent="world" child="${base}"
                                    joint_axis_xyz="${joint_base_axis_xyz}"
                                    joint_origin_xyz="${joint_base_origin_xyz}" joint_origin_rpy="${joint_base_origin_rpy}"
                                    joint_lower_limit="0" joint_upper_limit="0" joint_limit_vel="0" joint_limit_effort="1000" joint_type="${joint_base_joint_type}"/>
    </xacro:macro>

    <!-- macro adds the first part of the arm until the elbow -->
    <xacro:macro name="dynaarm_base_shoulder_upperarm_elbow">
        <xacro:dynaarm_baselink link_name="${base}" file_name="${base_mesh}" link_nbr="${base_nbr}" />
        <xacro:dynaarm_link link_name="${link01}" file_name="${link01_mesh}" link_nbr="${link01_nbr}" />
        <xacro:dynaarm_link link_name="${link02}" file_name="${link02_mesh}" link_nbr="${link02_nbr}" />
        <xacro:dynaarm_link link_name="${link03}" file_name="${link03_mesh}" link_nbr="${link03_nbr}" />

        <xacro:dynaarm_revolute_joint joint_name="${joint_1_name}" parent="${base}" child="${link01}"
                                    joint_axis_xyz="${joint_1_axis_xyz}"
                                    joint_origin_xyz="${joint_1_origin_xyz}" joint_origin_rpy="${joint_1_origin_rpy}"
                                    joint_lower_limit="${joint_1_lower_limit}" joint_upper_limit="${joint_1_upper_limit}"
                                    joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_1_joint_type}"/>
        <xacro:dynaarm_revolute_joint joint_name="${joint_2_name}" parent="${link01}" child="${link02}"
                                    joint_axis_xyz="${joint_2_axis_xyz}"
                                    joint_origin_xyz="${joint_2_origin_xyz}" joint_origin_rpy="${joint_2_origin_rpy}"
                                    joint_lower_limit="${joint_2_lower_limit}" joint_upper_limit="${joint_2_upper_limit}"
                                    joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_2_joint_type}"/>
        <xacro:dynaarm_revolute_joint joint_name="${joint_3_name}"  parent="${link02}" child="${link03}"
                                    joint_axis_xyz="${joint_3_axis_xyz}"
                                    joint_origin_xyz="${joint_3_origin_xyz}" joint_origin_rpy="${joint_3_origin_rpy}"
                                    joint_lower_limit="${joint_3_lower_limit}" joint_upper_limit="${joint_3_upper_limit}"
                                    joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}" joint_type="${joint_3_joint_type}"/>

        <xacro:if value="${use_realsense_base_property}">
            <xacro:dynaarm_link link_name="${base}_realsense_mount" file_name="${base_realsense_mount_mesh}" link_nbr="${base_realsense_mount_nbr}" />
            <xacro:dynaarm_joint_fixed joint_name="${base}_realsense"
                                parent="${base}" child="${base}_realsense_mount"
                                joint_origin_xyz="0 0 -0.002" joint_origin_rpy="0 0 0" />
            <xacro:dynaarm_realsense parent="${base}" camera_name="${realsense}" simulation_realsense="${simulation_property}" realsense_pos_nbr="5" realsense_type="${realsense_type_property}"/>
        </xacro:if>        
    </xacro:macro>

    <xacro:if value="${use_mocap_base_property}">
        <!-- Mocap on DynaArm base -->
        <xacro:dynaarm_link link_name="${base}_mocap_mount" file_name="${base_mocap_mount_mesh}" link_nbr="${base_mocap_mount_nbr}" scale_value="${mm_to_m}"/>
        <xacro:dynaarm_joint_fixed joint_name="${base}_mocap"
                            parent="${base}" child="${base}_mocap_mount"
                            joint_origin_xyz="0 0 0.05595" joint_origin_rpy="0 0 ${-J_PI/2}" />
    </xacro:if>

    <xacro:if value="${use_mocap_elbow_property}">
        <!-- Mocap on elbow/joint3 -->
        <xacro:dynaarm_link link_name="${link03}_elbow_mocap_mount" file_name="${link03_elbow_mocap_mount_mesh}" link_nbr="${link03_elbow_mocap_mount_nbr}" scale_value="${mm_to_m}"/>
        <xacro:dynaarm_joint_fixed joint_name="${joint_3_name}_mocap"
                            parent="${link03}" child="${link03}_elbow_mocap_mount"
                            joint_origin_xyz="0 0 0" joint_origin_rpy="0 0 0" />
    </xacro:if>

    <xacro:macro name="dynaarm" params="parent_link joint_origin">
        <xacro:dynaarm_joint_fixed joint_name="${joint_base_name}" parent="${parent_link}" child="${base}"
                joint_origin_xyz="${joint_origin}" joint_origin_rpy="${joint_base_origin_rpy}" />
        <xacro:dynaarm_base_shoulder_upperarm_elbow/>
        <xacro:unless value="${nbr_of_dof_property-4}">
            <xacro:dynaarm_forearm/>
        </xacro:unless>
        <xacro:unless value="${nbr_of_dof_property-6}">
            <xacro:property name="forearm_configuration_property" value="0"/>
            <xacro:dynaarm_forearm/>
            <xacro:dynaarm_wrist/>
        </xacro:unless>
    </xacro:macro>

</robot>
