<launch>

  <arg name="description_name"          default="dynaarm_description"/>
  <arg name="description_file"          default="$(find dynaarm_urdf)/urdf/dynaarm.urdf.xacro"/>

  <!-- parameter to choose the forearm configuration.
  -1 = no forearm mounted
  0 = default final forearm to be used with realsense, wrist, robotiq
  1 = festo hand,
  40 = payload adapter configuration (large rectangular lasercutted forearm, add payload with 41,42,43),
  50 = drill dummy
  7 = temporary lasercut forearm to attach realsense and robotiq. Robotiq can be added with or without ftSensor,  -->
  <arg name="forearm_configuration"     default="0"/>
  <!-- add the realsense model to the urdf -->
  <arg name="use_realsense_forearm"                default="false"/>       <!-- true for visual servoing -->
  <arg name="use_realsense_wrist"                  default="false"/>       <!-- true for visual servoing -->
  <arg name="use_realsense_base"                   default="false"/>       <!-- true for visual servoing -->
  <arg name="use_realsense_elbow"                  default="false"/>       <!-- true for visual servoing -->
  <arg name="realsense_mount_angle_pos"            default="0"/>           <!-- only relevant when use_realsense_elbow is true: 0 is 0 deg, 1 is 15  deg, 2 is 17.5 deg and 3 is 20 deg -->  
  <arg name="use_realsense_fts"                    default="false"/>
  <!-- relevant just if use_realsense_forearm or realsense_wrist is set to true -->
  <arg name="realsense_type"            default="d435"/>
  <!-- add the tf sensor model to the urdf -->
  <arg name="use_ftSensor"              default="false"/>
  <!-- choose mounted gripper. If nothing if specified no gripper will be added to the urdf. -->
  <!-- Options: "Robotiq", "EZgripper", "CatchingNet", "Mocap", "". -->
  <arg name="Gripper"                   default=""/>
  <!-- Can choose which mocap mount to load separately. -->
  <arg name="use_mocap_base"            default="false"/>
  <arg name="use_mocap_elbow"           default="false"/>
  
  <!-- load the dynaarm description urdf -->
  <include file="$(find dynaarm_urdf)/launch/load.launch">
      <arg name="description_name"              value="$(arg description_name)"/>
      <arg name="forearm_configuration"         value="$(arg forearm_configuration)"/>
      <arg name="use_realsense_forearm"         value="$(arg use_realsense_forearm)"/>
      <arg name="use_realsense_wrist"           value="$(arg use_realsense_wrist)"/>
      <arg name="use_realsense_base"            value="$(arg use_realsense_base)"/>
      <arg name="use_realsense_elbow"           value="$(arg use_realsense_elbow)"/>
      <arg name="use_realsense_fts"             value="$(arg use_realsense_fts)"/>      
      <arg name="realsense_mount_angle_pos"     value="$(arg realsense_mount_angle_pos)"/> 
      <arg name="realsense_type"                value="$(arg realsense_type)"/>
      <arg name="use_ftSensor"                  value="$(arg use_ftSensor)"/>
      <arg name="Gripper"                       value="$(arg Gripper)"/>
      <arg name="use_mocap_base"                value="$(arg use_mocap_base)"/>
      <arg name="use_mocap_elbow"               value="$(arg use_mocap_elbow)"/>
  </include>

  <node name="dynaarm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <remap from="robot_description" to="$(arg description_name)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dynaarm_urdf)/bin/config.rviz"/>

  <node name="dynaarm_joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen">
    <remap from="robot_description" to="$(arg description_name)"/>
  </node>

</launch>
