stack_launcher:
  stacks:
    navigation:
      nodes:
        operational_mode_manager:
          enabled: true
          name: operational_mode_manager

operational_mode_manager_api: &operational_mode_manager_api # This configuration is used by different SW components.
  actions:
    switch_operational_mode: /operational_mode_manager/switch_operational_mode
  services:
    set_operational_mode: /operational_mode_manager/set_operational_mode
    get_transition_preview: /operational_mode_manager/get_transition_plan
    trigger_state_deduction: /operational_mode_manager/trigger_state_deduction
    set_auto_deduction: /operational_mode_manager/set_auto_deduction
  subscribers:
    state_notification:
      topic: /operational_mode_manager/state_notification
      queue_size: 1
      
user_interaction_mode_manager_api: &user_interaction_mode_manager_api # This configuration is used by different SW components.
  actions:
    switch_mode: /user_interaction_mode_manager/switch_mode

operational_mode_manager:
  auto_deduction_enabled: true
  enable_ex_features: false
  operational_modes:
    Fallen:
      type: OperationalMode
      impl: operational_mode_manager::OperationalMode
    Emergency:
      type: OperationalMode
      impl: operational_mode_manager::OperationalMode
    Sleep:
      type: OperationalMode
      impl: operational_mode_manager::OperationalMode
    Stand:
      type: OperationalMode
      impl: operational_mode_manager::OperationalMode
    Rest:
      type: OperationalMode
      impl: operational_mode_manager::OperationalMode
    Walk:
      type: OperationalMode
      impl: operational_mode_manager::OperationalMode
    wakingUp:
      type: TransitionalMode
      impl: operational_mode_manager::WakeUp
    fallingAsleep:
      type: TransitionalMode
      impl: operational_mode_manager::GoToSleep
    goToRest:
      type: TransitionalMode
      impl: operational_mode_manager::GoToRest
    goToWalk:
      type: TransitionalMode
      impl: operational_mode_manager::GoToWalk
    goToStand:
      type: TransitionalMode
      impl: operational_mode_manager::GoToStand
  transitions:
    transition_1:
      source: wakingUp
      target: goToRest
    transition_2:
      source: Rest
      target: goToStand
    transition_3:
      source: Rest
      target: goToWalk
    transition_4:
      source: Rest
      target: fallingAsleep
    transition_5:
      source: Stand
      target: goToRest
    transition_6:
      source: Stand
      target: goToWalk
    transition_7:
      source: Walk
      target: goToStand
    transition_8:
      source: Walk
      target: goToRest
    transition_9:
      source: Sleep
      target: wakingUp
    transition_10:
      source: fallingAsleep
      target: Sleep
    transition_11:
      source: goToRest
      target: Rest
    transition_12:
      source: goToWalk
      target: Walk
    transition_13:
      source: goToStand
      target: Stand
  actions:
    switch_operational_mode:
      action: switch_operational_mode
  publishers:
    state_notification:
      topic: state_notification
      queue_size: 1
      latch: true
  servers:
    trigger_state_deduction:
      service: trigger_state_deduction
    get_system_status:
      service: get_system_status
    set_operational_mode:
      service: set_operational_mode
    get_transition_plan:
      service: get_transition_plan
    set_auto_deduction:
      service: set_auto_deduction
  subscribers:
    current_motion_state:
      queue_size: 1
      topic: /motion_control_manager/current_motion_state
    depth_camera:
      queue_size: 1
      topic: /sensor_power_supervisor/depth_camera/powered
    lidar:
      queue_size: 1
      topic: /sensor_power_supervisor/lidar/powered
    low_level_controller:
      queue_size: 1
      topic: /anymal_low_level_controller/current_life_cycle_state
    notify_control_unit_state:
      queue_size: 1
      topic: /motion_control_manager/notify_control_unit_state
    pin_state:
      queue_size: 1
      topic: /pdb/pin_state
    #user_interaction_mode: # set in user_interaction_mode feature toggle
      #queue_size: 1
      #topic: /user_interaction_mode_manager/current_mode
    wide_angle_camera:
      queue_size: 1
      topic: /sensor_power_supervisor/wide_angle_camera/powered
  workers:
    update:
      time_step: 0.2
      priority: 0

behavior_engine:
  operational_mode_manager_api:
    <<: *operational_mode_manager_api
environment_visualizer:
  operational_mode_manager_api:
    <<: *operational_mode_manager_api
gui:
  operational_modes:
    10_sleep:
      label: Sleep
      requires_autonomy: false
    20_rest:
      label: Rest
      requires_autonomy: false
    30_stand:
      label: Stand
      requires_autonomy: false
    40_walk:
      label: Walk
      requires_autonomy: false
  operational_mode_manager_api:
    <<: *operational_mode_manager_api
joy_manager:
  operational_mode_manager_api:
    <<: *operational_mode_manager_api
user_interaction_mode_manager:
  communication_relay_profiles:
    autonomous:
      actions:
        switch_operational_mode:
          enabled: true
        switch_operational_mode_from_environment_visualizer:
          enabled: true
        switch_operational_mode_from_gui:
          enabled: true
    autonomous_emergency:
      actions:
        switch_operational_mode:
          enabled: true
    direct_control:
      actions:
        switch_operational_mode:
          enabled: true
      services:
        set_operational_mode:
          enabled: true
        trigger_state_deduction:
          enabled: true
    direct_control_rcu:
      actions:
        switch_operational_mode:
          enabled: true

hbc_driver:
  subscribers:
    user_interaction_mode:
      queue_size: 1
      topic: /user_interaction_mode_manager/current_mode
  user_interaction_mode_manager_api:
    <<: *user_interaction_mode_manager_api

system_behavior_plugins:
  user_interaction_mode_manager_api:
    <<: *user_interaction_mode_manager_api
